@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap")
* {
    font-family: "saira", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}
a.menu-detail{
    color: #b8becd;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
}
a.active{
    color: #202336;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
}
.pembuka{
    margin-top: 20px;
    width: 100%;
    height: auto;
}
selection.pembuka{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.gambar-awal{
    position: absolute;
    right: 0;
    top: 10px;
    z-index: -9999;
}
h1,
h2{
    margin: 100;
}
h3{
    text-align: left;
}
.button-daftar{
    margin-top: 10px;
    background-color: #2cbd84;
    text-align: center;
    width: 200px;
    text-decoration: transparent;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;    
}
.button-daftar h4{
    letter-spacing: 1.5px;
    color: white;
}
section.jurusan{
    border-radius: 20px 10px;
    margin-top: 380px;
    background-color: #dbfffa;
    padding: 10px;
    width: 100%;
    align-items: center;
    text-align: center;
}
section.list-jurusan{
    margin-top: 10px;
    padding: 20px;

    width: 100%;
    justify-content: space-around;
    text-align: center;
}
.item-jurusan{
    border-radius: 20px 10px 20px 10px;
    margin: 20px;
    padding: 20px;
    background-color: #2cbd84;
}
.gambar-jurusan{
    margin: 20px;
}
.item-jurusan p {
    justify-content: center;
    text-align: justify;
}